.input-group{
    font-family: cursive;
    margin: 20px;
    background: grey;
    padding-top: 30px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
}
 .option{
    padding: 0px;
}
.btn_transfer{
    margin: 10px;
    width: 162px;
}
.input-group label{
    font-family: fantasy;
    font-size: 20px;
    position: absolute;
	top: 15px;
	transform: translateY(-50%);
    left: 200px;
}