<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="admin-page">
<div class="admin-operation">
  <a (click) = "creditActive()" class="btn btn-link">List of client credit accounts </a>
  <a (click) = "savingActive()" class="btn btn-link">List of client saving accounts</a>
  <a (click) = "accountActive()" class="btn btn-link">List of client current accounts</a>
  <a (click) = "ohterActive()" class="btn btn-link">Other action</a>
</div>

<router-outlet></router-outlet>
</div>
     
